.flex-container {
    display: flex;
    justify-content: center;
}

.menu-image {
    height: 50px;
    width: auto;
    display: flex;
}

.menu-point {
    list-style: none;
    padding: 0 1em;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-text-color;
    font-size: $smallest-size;
    font-weight: 600;
}