.service {
    height: 0.5 * $extra-small;
    padding: 0 0;
    cursor: pointer;

    .image-wrapper {
        position: relative;
        height: 0.5 * $extra-small;
    }

    .service-name {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 200px;
        background-color: rgba($color: #1ba4ce, $alpha: 0.6);
        font-family: $secondary-font;
        color: $primary-text-color;
        visibility: hidden;
    }

    .image-wrapper:hover > .service-name {
        visibility: visible;
    }
}

#message {
    background-image: url(../img/services-bg-1.jpg);
}

#body-treatment {
    background-image: url(../img/services-bg-2.jpg);
}

#face-treatment {
    background-image: url(../img/services-bg-3.jpg);
}

#nails {
    background-image: url(../img/services-bg-4.jpg);
}

@media all and (max-width: $medium) {
    .container {
        max-width: 100%;
    }
}

@media all and (min-width: $extra-large) {
    .container {
        max-width: 100%;
    }
}