[submodule "react-social-app"]
	path = react-social-app
	url = https://github.com/tomfidos/react-social-app.git
[submodule "typescript/typescript-user-list"]
	path = typescript/typescript-user-list
	url = git@github.com:tomfidos/typescript-user-list.git
[submodule "typescript/typescript-post-list-app"]
	path = typescript/typescript-post-list-app
	url = git@github.com:tomfidos/typescript-post-list-app.git
[submodule "redux-online-store"]
	path = redux-online-store
	url = git@github.com:tomfidos/redux-online-store.git
