@mixin flexbox {
    display: flex;
    flex-wrap: wrap;
}

@mixin button($border-radius: 25px, $margin-x: 0) {
    border-style: none;
    background-color: $primary-background-color;
    color: $mobile-text-color;
    text-transform: uppercase;
    padding: $basis-padding $basis-padding;
    font-size: $primary-font-size;
    width: 200px;
    cursor: pointer;
    border-radius: $border-radius;
    margin: $basis-margin $margin-x;

    &:hover {
        background-color: $secondary-background-color;
        color: $secondary-text-color;
    }
}
