* {
    box-sizing: border-box;
}

body {
    color: $primary-text-color;
    font-family: $primary-font;
}

.basic-container {
    max-width: $small-container;
    width: $small-container;
    padding: $basis-padding 23px;
    margin: 0 auto;
}

.heading {
    margin: $basis-margin 0;
}

p {
    margin: $basis-margin 0;
    font-family: $primary-font;
    text-align: center;
}

@media all and (min-width: $large-container) {
    .basic-container {
        max-width: $large-container;
    }
}

@media all and (min-width: $extra-large-container) {
    .basic-container {
        max-width: $extra-large-container;
    }
}

.standard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elements {
    display: flex;
    flex-direction: column;
}

.standard-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $basis-padding $basis-padding;
    margin: $basis-margin 0;
    box-shadow: 0 5px 20px #f0f0f0;
}

form {
    background-color: $primary-background-color;
}

@media all and (min-width: $medium) {
    .elements {
        flex-direction: row;
    }
}
