* {
    box-sizing: border-box;
}

body {
    color: $primary-text-color;
    font-family: $primary-font;
}

.basic-container {
    max-width: $small-container;
    width: $small-container;
    padding: $basis-padding 23px;
    margin: 0 auto;
}

.heading {
    margin: $basis-margin 0;
}

p {
    margin: $basis-margin 0;
    font-family: $primary-font;
}

@media all and (min-width: $large-container) {
    .container {
        max-width: $large-container;
    }
}

@media all and (min-width: $extra-large-container) {
    .container {
        max-width: $extra-large-container;
    }
}
