.form-field {
    background-color: $primary-background-color;
    color: $mobile-text-color;
    text-transform: uppercase;
    text-align: left;
    border: 0;
    border-bottom: 1px solid $mobile-text-color;
    padding-left: 0;
    padding-top: $basis-padding;
}

.form-field::placeholder {
    color: $mobile-text-color;
}

.date-time-wrapper {
    display: flex;
    padding-right: 0;

    .date-time {
        background-color: $primary-background-color;
        color: $mobile-text-color;
        text-transform: uppercase;
        flex: 50%;
        border: 0;
    }

    .date-time::before {
        content: attr(placeholder);
    }

    .date-time::-webkit-datetime-edit {
        color: transparent;
    }

    .date-time:focus::-webkit-datetime-edit {
        color: $mobile-text-color;
    }

    .date-time:focus::before {
        content: "";
    }

    .date-picker {
        padding-right: $basis-padding;
    }

}
