.form-field {
    background-color: $primary-background-color;
    color: $mobile-text-color;
    text-transform: uppercase;
    text-align: left;
    border: 0;
    border-bottom: 1px solid $mobile-text-color;
}