.image-wrapper {
    background-position: center center;
    background-size: cover;
}

.box-image {
    width: $extra-small - 80px;
    height: auto;
}

@media all and (min-width: $medium) {

    .box-image {
        width: 0.5 * $extra-small;
        height: auto;
    }

}
